extends layout

block content
  .row
    .col-12
      .card
        .card-header
          i.fa.fa-rocket
          | Account hinzufügen
        .card-body
            form(method='POST', action='/accounts/edit/'+_id, id='Form')
                .form-group
                    .input-group.mb-3
                        span.input-group-addon Account ID
                        input.form-control(type='text', value=accid, name='accid', readonly='readonly')
                        span.input-group-addon
                            i.fa.fa-id-card-o
                .form-group
                    .input-group.mb-3
                        span.input-group-addon Benutzer ID
                        input.form-control(type='text', value=userid, name='userid', readonly='readonly')
                        span.input-group-addon
                            i.fa.fa-id-card-o
                p 
                    small Die nachfolgende Option wirkt sich auf die Suche aus. Strickte Suche (An) und Suche nach 'Lemmo' findet keine 'Lemmont'. Strickte Suche (Aus) jedoch schon, kann aber bei kurzen Namen zu sehr vielen Treffern führen. Trotzdem kann sie hilfreich sein da eine Suche nach 'Lemmont' alle Charaktere findet auch wenn der Begriff nur im Nachnamen erscheint.
                label.form-check-label.form-check-inline
                    small Genaue/Strickte Suche:                     
                .form-check.form-check-inline
                    label.form-check-label
                        input.form-check-input(type='radio', name='strict', id='strict', value='true', checked)
                        small An
                .form-check.form-check-inline
                    label.form-check-label
                        input.form-check-input(type='radio', name='strict', id='strict', value='false')
                        small Aus
                p 
                    small Ab dem dritten Zeichen wird während deiner Eingabe eine Suche bei EVE Online API durchgeführt. Das Ergebnis siehst du im Dropdown. Wähle den Charakter aus den du speichern möchtest. Hast du einen Charakter ausgewählt erscheint sein Bild daneben.
                .form-row
                    .col
                        .form-group
                            .input-group.mb-3
                                span.input-group-addon Charakter 1
                                input.form-control(type='hidden',  id='character1', name='character1', value=character1)
                                input.form-control(type='text', id='charactername1', name='charactername1', value=charactername1, placeholder='Charname', data-id='1')
                                span.input-group-addon
                                    i.icon-user
                            .input-group.mb-3
                                span.input-group-addon Aufgabe
                                input.form-control(type='text', id='usage1', name='usage1', value=usage1, placeholder='PVE, Miner, Orca Pilot, etc.')
                                span.input-group-addon
                                    i.fa.fa-wrench
                            .input-group.mb-3
                                span.input-group-addon Corporation
                                input.form-control(type='text', id='corp1', name='corp1', readonly='readonly')
                                input.form-control(type='text', id='corpname1', name='corpname1', readonly='readonly')
                                span.input-group-addon
                                    i.fa.fa-check-circle-o
                            .input-group.mb-3
                                span.input-group-addon Allianz
                                input.form-control(type='text', id='alliance1', name='alliance1', readonly='readonly')
                                input.form-control(type='text', id='alliancename1', name='alliancename1', readonly='readonly')
                                span.input-group-addon
                                    i.fa.fa-check-circle-o
                            .input-group.mb-3
                                span.input-group-addon Security
                                input.form-control(type='text', id='sec1', name='sec1', readonly='readonly')
                                span.input-group-addon
                                    i.fa.fa-check-circle-o
                            .input-group.mb-3
                                span.input-group-addon Geburt
                                input.form-control(type='text', id='birth1', name='birth1', readonly='readonly')
                                span.input-group-addon
                                    i.fa.fa-check-circle-o
                    .col
                        .form-group
                            .input-group.mb-3
                                span.input-group-addon
                                    img(id='char1_pic', src='/img/avatars/1_32.jpg').img-thumbnail
                                    input.form-control(type='hidden', name='char1_pic')
                                select.form-control(id='char1',size=4)
                                span.input-group-addon
                                    i.fa.fa-photo  
                hr.mx-3.my-0
                br
                .form-row
                    .col
                        .form-group
                            .input-group.mb-3
                                span.input-group-addon Charakter 2
                                input.form-control(type='hidden',  id='character2', name='character2', value=character2)
                                input.form-control(type='text', id='charactername2', name='charactername2', value=charactername2, placeholder='Charname', data-id='2')
                                span.input-group-addon
                                    i.icon-user
                            .input-group.mb-3
                                span.input-group-addon Aufgabe
                                input.form-control(type='text', id='usage2', name='usage2', value=usage2, placeholder='PVE, Miner, Orca Pilot, etc.')
                                span.input-group-addon
                                    i.fa.fa-wrench
                            .input-group.mb-3
                                span.input-group-addon Corporation
                                input.form-control(type='text', id='corp2', name='corp2', readonly='readonly')
                                input.form-control(type='text', id='corpname2', name='corpname2', readonly='readonly')
                                span.input-group-addon
                                    i.fa.fa-check-circle-o
                            .input-group.mb-3
                                span.input-group-addon Allianz
                                input.form-control(type='text', id='alliance2', name='alliance2', readonly='readonly')
                                input.form-control(type='text', id='alliancename2', name='alliancename2', readonly='readonly')
                                span.input-group-addon
                                    i.fa.fa-check-circle-o
                            .input-group.mb-3
                                span.input-group-addon Security
                                input.form-control(type='text', id='sec2', name='sec2', readonly='readonly')
                                span.input-group-addon
                                    i.fa.fa-check-circle-o
                            .input-group.mb-3
                                span.input-group-addon Geburt
                                input.form-control(type='text', id='birth2', name='birth2', readonly='readonly')
                                span.input-group-addon
                                    i.fa.fa-check-circle-o
                    .col
                        .form-group
                            .input-group.mb-3
                                span.input-group-addon
                                    img(id='char2_pic', src='/img/avatars/1_32.jpg').img-thumbnail
                                    input.form-control(type='hidden', name='char2_pic')
                                select.form-control(id='char2',size=4)
                                span.input-group-addon
                                    i.fa.fa-photo  
                hr.mx-3.my-0
                br
                .form-row
                    .col
                        .form-group
                            .input-group.mb-3
                                span.input-group-addon Charakter 3
                                input.form-control(type='hidden',  id='character3', name='character3', value=character3)
                                input.form-control(type='text', id='charactername3', name='charactername3', value=charactername3, placeholder='Charname', data-id='3')
                                span.input-group-addon
                                    i.icon-user
                            .input-group.mb-3
                                span.input-group-addon Aufgabe
                                input.form-control(type='text', id='usage3', name='usage3', value=usage3, placeholder='PVE, Miner, Orca Pilot, etc.')
                                span.input-group-addon
                                    i.fa.fa-wrench
                            .input-group.mb-3
                                span.input-group-addon Corporation
                                input.form-control(type='text', id='corp3', name='corp3', readonly='readonly')
                                input.form-control(type='text', id='corpname3', name='corpname3', readonly='readonly')
                                span.input-group-addon
                                    i.fa.fa-check-circle-o
                            .input-group.mb-3
                                span.input-group-addon Allianz
                                input.form-control(type='text', id='alliance3', name='alliance3', readonly='readonly')
                                input.form-control(type='text', id='alliancename3', name='alliancename3', readonly='readonly')
                                span.input-group-addon
                                    i.fa.fa-check-circle-o
                            .input-group.mb-3
                                span.input-group-addon Security
                                input.form-control(type='text', id='sec3', name='sec3', readonly='readonly')
                                span.input-group-addon
                                    i.fa.fa-check-circle-o
                            .input-group.mb-3
                                span.input-group-addon Geburt
                                input.form-control(type='text', id='birth3', name='birth3', readonly='readonly')
                                span.input-group-addon
                                    i.fa.fa-check-circle-o
                    .col
                        .form-group
                            .input-group.mb-3
                                span.input-group-addon
                                    img(id='char3_pic', src='/img/avatars/1_32.jpg').img-thumbnail
                                    input.form-control(type='hidden', name='char3_pic')
                                select.form-control(id='char3',size=4)
                                span.input-group-addon
                                    i.fa.fa-photo  
                .form-row
                    button.btn.btn-block.btn-success(type='submit') Account ändern
    script.
        $(document).ready(function() {

            function setHeader(xhr) {
                xhr.setRequestHeader('Content-Type', 'application/json');
            }

            var timeoutID = null;
            var charIds = {};

            function findCharacter(str, elem_id) {

                // Get Strict Mode
                var strict = true;
                if ($('input[type=radio][name=strict]:checked').attr('value') == 'true') {
                    strict = true;
                }
                else if ($('input[type=radio][name=strict]:checked').attr('value') == 'false') {
                    strict = false;
                }

                // GET Char IDs from EVE API
                if (str.length > 3){
                    $.ajax({
                        type: 'GET',
                        url: 'https://esi.tech.ccp.is/latest/search/',
                        data: {
                            'categories': 'character', 
                            'datasource': 'tranquility',
                            'language': 'en-us',
                            'search': str,
                            'strict': strict
                            },
                        dataType: 'json',
                        success: function(data) { 
                            charIds = data;

                            // GET Char name of IDs from EVE API
                            if ($.isArray(charIds.character)){
                                $.ajax({
                                    type: 'GET',
                                    url: 'https://esi.tech.ccp.is/latest/characters/names/',
                                    data: {
                                        'character_ids': charIds.character.toString(),
                                        'datasource': 'tranquility',
                                        'language': 'en-us'
                                        },
                                    dataType: 'json',
                                    success: function(data) { 
                                        charIds = data;
                                        
                                        // Fill Multiselect
                                        $('#char' + elem_id).empty();
                                        var x = 0;
                                        for (x in charIds){
                                            $('#char' + elem_id).append('<option value="' + charIds[x].character_id + '">' + charIds[x].character_name + '</option>');
                                        }

                                        // select found character if is is a single hit
                                        if (charIds.length = 1){
                                            let selected_char = $('#charactername' + elem_id).val();
                                            $('#char' + elem_id).val(charIds[0].character_id).prop('selected', true);
                                            $('#char' + elem_id).val(charIds[0].character_id).change();
                                            console.log(charIds.length + ': '+ $('#char' + elem_id).val());
                                        }
                                        

                                    },
                                    error: function(req, error, details) { 
                                        console.log('error: ' + JSON.stringify(error) + ' details: ' + JSON.stringify(req.responseText));
                                    },
                                    beforeSend: setHeader
                                });

                                function setHeader(xhr) {
                                    xhr.setRequestHeader('Content-Type', 'application/json');
                                }
                            }

                        },
                        error: function(req, error, details) { 
                            console.log('error: ' + JSON.stringify(error) + ' details: ' + JSON.stringify(req.responseText));
                        },
                        beforeSend: setHeader
                    });
                } 
                if (str.length == 0) {
                    // reset all input fields
                    $('input[name*="' + elem_id + '"]').val(null);
                    $('#char' + elem_id).empty();
                    $('#char' + elem_id + '_pic').attr('src', '/img/avatars/1_32.jpg');
                }
            }

            // Listen on Changes
            $('#charactername1, #charactername2, #charactername3').on('change keyup paste input',function(e) {
                clearTimeout(timeoutID);
                var elem_id = this.getAttribute('data-id');
                timeoutID = setTimeout(findCharacter.bind(undefined, e.target.value, elem_id), 500);
            });

            // Get Clicked user
            $('#char1, #char2, #char3').on('change', function () {
                $('#char1 option:selected').each(function() {
                    var sel_char_id = $(this).attr('value');
                    
                    // Update Picture
                    $("#char1_pic").attr('src' , 'https://image.eveonline.com/Character/' + sel_char_id + '_32.jpg');
                    $("input[name=char1_pic]").val('https://image.eveonline.com/Character/' + sel_char_id + '_32.jpg');
                    
                    // Update Name & ID
                    $("#character1").val(sel_char_id);
                    $("#charactername1").val($(this).html());

                    // Get Char Deatils (Corp, Ally, Security, Birth) from CCP
                    $.ajax({
                        type: 'GET',
                        url: 'https://esi.tech.ccp.is/latest/characters/' + sel_char_id + '/',
                        data: {
                            'character_id': sel_char_id,
                            'datasource': 'tranquility',
                            'language': 'en-us'
                            },
                        dataType: 'json',
                        success: function(data) { 
                            charDetails = data;
                    
                            // Update Corp
                            $("#corp1").val(charDetails.corporation_id);
                            $.ajax({
                                type: 'GET',
                                url: 'https://esi.tech.ccp.is/latest/corporations/' + charDetails.corporation_id + '/',
                                data: {
                                    'corporation_id': charDetails.corporation_id,
                                    'datasource': 'tranquility',
                                    'language': 'en-us'
                                    },
                                dataType: 'json',
                                success: function(data) { 
                                    corpDetails = data;
                                    $("#corpname1").val(corpDetails.name);
                                },
                                error: function(req, error, details) { 
                                    console.log('error: ' + JSON.stringify(error) + ' details: ' + JSON.stringify(req.responseText));
                                },
                                beforeSend: setHeader
                            });

                            // Update Ally
                            $("#alliance1").val(charDetails.alliance_id);
                            if (charDetails.alliance_id) {
                                $.ajax({
                                    type: 'GET',
                                    url: 'https://esi.tech.ccp.is/latest/alliances/' + charDetails.alliance_id + '/',
                                    data: {
                                        'alliance_id': charDetails.alliance_id,
                                        'datasource': 'tranquility',
                                        'language': 'en-us'
                                        },
                                    dataType: 'json',
                                    success: function(data) { 
                                        allyDetails = data;
                                        $("#alliancename1").val(allyDetails.name);
                                    },
                                    error: function(req, error, details) { 
                                        console.log('error: ' + JSON.stringify(error) + ' details: ' + JSON.stringify(req.responseText));
                                    },
                                    beforeSend: setHeader
                                });
                            } else {
                                $("#alliancename1").val('');
                            }               

                            // Update Security
                            $("#sec1").val(charDetails.security_status);

                            // Update Birth
                            $("#birth1").val(charDetails.birthday);
                        },
                        error: function(req, error, details) { 
                            console.log('error: ' + JSON.stringify(error) + ' details: ' + JSON.stringify(req.responseText));
                        },
                        beforeSend: setHeader
                    });                    
                });  

                $('#char2 option:selected').each(function() {
                    var sel_char_id = $(this).attr('value');
                    
                    // Update Picture
                    $("#char2_pic").attr('src' , 'https://image.eveonline.com/Character/' + sel_char_id + '_32.jpg');
                    $("input[name=char2_pic]").val('https://image.eveonline.com/Character/' + sel_char_id + '_32.jpg');
                    
                    // Update Name & ID
                    $("#character2").val(sel_char_id);
                    $("#charactername2").val($(this).html());

                    // Get Char Deatils (Corp, Ally, Security, Birth) from CCP
                    $.ajax({
                        type: 'GET',
                        url: 'https://esi.tech.ccp.is/latest/characters/' + sel_char_id + '/',
                        data: {
                            'character_id': sel_char_id,
                            'datasource': 'tranquility',
                            'language': 'en-us'
                            },
                        dataType: 'json',
                        success: function(data) { 
                            charDetails = data;
                    
                            // Update Corp
                            $("#corp2").val(charDetails.corporation_id);
                            $.ajax({
                                type: 'GET',
                                url: 'https://esi.tech.ccp.is/latest/corporations/' + charDetails.corporation_id + '/',
                                data: {
                                    'corporation_id': charDetails.corporation_id,
                                    'datasource': 'tranquility',
                                    'language': 'en-us'
                                    },
                                dataType: 'json',
                                success: function(data) { 
                                    corpDetails = data;
                                    $("#corpname2").val(corpDetails.name);
                                },
                                error: function(req, error, details) { 
                                    console.log('error: ' + JSON.stringify(error) + ' details: ' + JSON.stringify(req.responseText));
                                },
                                beforeSend: setHeader
                            });

                            // Update Ally
                            $("#alliance2").val(charDetails.alliance_id);
                            if (charDetails.alliance_id) {
                                $.ajax({
                                    type: 'GET',
                                    url: 'https://esi.tech.ccp.is/latest/alliances/' + charDetails.alliance_id + '/',
                                    data: {
                                        'alliance_id': charDetails.alliance_id,
                                        'datasource': 'tranquility',
                                        'language': 'en-us'
                                        },
                                    dataType: 'json',
                                    success: function(data) { 
                                        allyDetails = data;
                                        $("#alliancename2").val(allyDetails.name);
                                    },
                                    error: function(req, error, details) { 
                                        console.log('error: ' + JSON.stringify(error) + ' details: ' + JSON.stringify(req.responseText));
                                    },
                                    beforeSend: setHeader
                                });
                            } else {
                                $("#alliancename2").val('');
                            }

                            // Update Security
                            $("#sec2").val(charDetails.security_status);

                            // Update Birth
                            $("#birth2").val(charDetails.birthday);
                        },
                        error: function(req, error, details) { 
                            console.log('error: ' + JSON.stringify(error) + ' details: ' + JSON.stringify(req.responseText));
                        },
                        beforeSend: setHeader
                    });
                });
                $('#char3 option:selected').each(function() {
                    var sel_char_id = $(this).attr('value');
                    
                    // Update Picture
                    $("#char3_pic").attr('src' , 'https://image.eveonline.com/Character/' + sel_char_id + '_32.jpg');
                    $("input[name=char3_pic]").val('https://image.eveonline.com/Character/' + sel_char_id + '_32.jpg');
                    
                    // Update Name & ID
                    $("#character3").val(sel_char_id);
                    $("#charactername3").val($(this).html());

                    // Get Char Deatils (Corp, Ally, Security, Birth) from CCP
                    $.ajax({
                        type: 'GET',
                        url: 'https://esi.tech.ccp.is/latest/characters/' + sel_char_id + '/',
                        data: {
                            'character_id': sel_char_id,
                            'datasource': 'tranquility',
                            'language': 'en-us'
                            },
                        dataType: 'json',
                        success: function(data) { 
                            charDetails = data;
                    
                            /// Update Corp
                            $("#corp3").val(charDetails.corporation_id);
                            $.ajax({
                                type: 'GET',
                                url: 'https://esi.tech.ccp.is/latest/corporations/' + charDetails.corporation_id + '/',
                                data: {
                                    'corporation_id': charDetails.corporation_id,
                                    'datasource': 'tranquility',
                                    'language': 'en-us'
                                    },
                                dataType: 'json',
                                success: function(data) { 
                                    corpDetails = data;
                                    $("#corpname3").val(corpDetails.name);
                                },
                                error: function(req, error, details) { 
                                    console.log('error: ' + JSON.stringify(error) + ' details: ' + JSON.stringify(req.responseText));
                                },
                                beforeSend: setHeader
                            });

                            // Update Ally
                            $("#alliance3").val(charDetails.alliance_id);
                            if (charDetails.alliance_id) {
                                $.ajax({
                                    type: 'GET',
                                    url: 'https://esi.tech.ccp.is/latest/alliances/' + charDetails.alliance_id + '/',
                                    data: {
                                        'alliance_id': charDetails.alliance_id,
                                        'datasource': 'tranquility',
                                        'language': 'en-us'
                                        },
                                    dataType: 'json',
                                    success: function(data) { 
                                        allyDetails = data;
                                        $("#alliancename3").val(allyDetails.name);
                                    },
                                    error: function(req, error, details) { 
                                        console.log('error: ' + JSON.stringify(error) + ' details: ' + JSON.stringify(req.responseText));
                                    },
                                    beforeSend: setHeader
                                });
                            } else {
                                $("#alliancename3").val('');
                            }

                            // Update Security
                            $("#sec3").val(charDetails.security_status);

                            // Update Birth
                            $("#birth3").val(charDetails.birthday);
                        },
                        error: function(req, error, details) { 
                            console.log('error: ' + JSON.stringify(error) + ' details: ' + JSON.stringify(req.responseText));
                        },
                        beforeSend: setHeader
                    });
                });
            });

            // reload data from EVE
            findCharacter($('#charactername1').val(), 1);
            findCharacter($('#charactername2').val(), 2);
            findCharacter($('#charactername3').val(), 3);

        });