extends layout

block content
    .row
        .col-lg-12
            .card
                .card-header
                    i.fa.fa-photo
                    | Verfügbare Aufträge
                    .btn-group.float-right
                        button.btn.btn-transparent.dropdown-toggle.text-dark.p-0(type='button', data-toggle='dropdown', arioa-haspopup='true', aria-expanded='false')
                            i.icon-settings
                        .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href='#') Auftrag Erstellen
                .card-body
                    table.table.table-sm.table-responsive
                        thead
                            tr
                                th Typ
                                th Anzahl
                                th LinkProdukt
                                th(style='max-width: 10rem; min-width: 10rem;') Ersteller
                                th Start-Sys
                                th Start-Loc
                                th Ziel-Sys
                                th Ziel-Loc
                                th Kommentar
                                th(style='max-width: 10rem; min-width: 10rem;') Bearbeiter
                                th Status
                        tbody
                            tr
                                td
                                    .span.badge.badge-danger Mining
                                td MAX
                                td Tritanium
                                td(style='max-width: 10rem; min-width: 10rem;')
                                    img.img-avatar(src=user.picture)
                                    a(href='x'+jobid)
                                        i.ml-3.fa.fa-pencil.text-dark(data-toggle='tooltip', data-placement='bottom', title='Ändern')
                                    a(href='#')
                                        i.ml-3.fa.fa-close.text-danger.delete-XXXX(data-toggle='tooltip', data-placement='bottom', title='Löschen', data-id=jobid)
                                td -
                                td - 
                                td LQ-AHE (Omist)
                                td GLADSHEIM
                                td Bitte in Hangar 03 
                                td(style='max-width: 10rem; min-width: 10rem;') -
                                    a(href='#')
                                        i.ml-3.fa.fa-check-square-o.text-success(data-toggle='tooltip', data-placement='bottom', title='Annehmen', data-id=jobid)
                                    a(href='#')
                                        i.ml-3.fa.fa-square-o.text-danger(data-toggle='tooltip', data-placement='bottom', title='Aufgeben', data-id=jobid)
                                    a(href='#')
                                        i.ml-3.fa.fa-flag-checkered.text-dark(data-toggle='tooltip', data-placement='bottom', title='Erledigt', data-id=jobid)
                                td 
                                    .span.badge.badge-danger OFFEN   
                            tr
                                td
                                    .span.badge.badge-dark Transport
                                td 1000000
                                td Xenotime
                                td(style='max-width: 10rem; min-width: 10rem;')
                                    img.img-avatar(src=user.picture)
                                    a(href='x'+jobid)
                                        i.ml-3.fa.fa-pencil.text-dark(data-toggle='tooltip', data-placement='bottom', title='Ändern')
                                    a(href='#')
                                        i.ml-3.fa.fa-close.text-danger.delete-XXXX(data-toggle='tooltip', data-placement='bottom', title='Löschen', data-id=jobid)
                                td LQ-AHE (Omist)
                                td GLADSHEIM 
                                td J213653 (WH)
                                td ELDSMIDJU
                                td Bitte in Hangar 03 
                                td(style='max-width: 10rem; min-width: 10rem;')
                                    img.img-avatar(src=user.picture)
                                    a(href='#')
                                        i.ml-3.fa.fa-check-square-o.text-success(data-toggle='tooltip', data-placement='bottom', title='Annehmen', data-id=jobid)
                                    a(href='#')
                                        i.ml-3.fa.fa-square-o.text-danger(data-toggle='tooltip', data-placement='bottom', title='Aufgeben', data-id=jobid)
                                    a(href='#')
                                        i.ml-3.fa.fa-flag-checkered.text-dark(data-toggle='tooltip', data-placement='bottom', title='Erledigt', data-id=jobid)
                                td 
                                    .span.badge.badge-warning ARBEIT  
                            tr
                                td
                                    .span.badge.badge-primary Production
                                td 50000
                                td Scourge Fury Heavy Missle
                                td(style='max-width: 10rem; min-width: 10rem;')
                                    img.img-avatar(src=user.picture)
                                    a(href='x'+jobid)
                                        i.ml-3.fa.fa-pencil.text-dark(data-toggle='tooltip', data-placement='bottom', title='Ändern')
                                    a(href='#')
                                        i.ml-3.fa.fa-close.text-danger.delete-XXXX(data-toggle='tooltip', data-placement='bottom', title='Löschen', data-id=jobid)
                                td -
                                td -
                                td LQ-AHE (Omist)
                                td GLADSHEIM
                                td Vertrag oder pers. Hangar
                                td(style='max-width: 10rem; min-width: 10rem;') -
                                    a(href='#')
                                        i.ml-3.fa.fa-check-square-o.text-success(data-toggle='tooltip', data-placement='bottom', title='Annehmen', data-id=jobid)
                                    a(href='#')
                                        i.ml-3.fa.fa-square-o.text-danger(data-toggle='tooltip', data-placement='bottom', title='Aufgeben', data-id=jobid)
                                    a(href='#')
                                        i.ml-3.fa.fa-flag-checkered.text-dark(data-toggle='tooltip', data-placement='bottom', title='Erledigt', data-id=jobid)
                                td 
                                    .span.badge.badge-danger OFFEN     
                            tr
                                td
                                    .span.badge.badge-warning Material
                                td 1000
                                td Mechanical Parts
                                td(style='max-width: 10rem; min-width: 10rem;')
                                    img.img-avatar(src=user.picture)
                                    a(href='x'+jobid)
                                        i.ml-3.fa.fa-pencil.text-dark(data-toggle='tooltip', data-placement='bottom', title='Ändern')
                                    a(href='#')
                                        i.ml-3.fa.fa-close.text-danger.delete-XXXX(data-toggle='tooltip', data-placement='bottom', title='Löschen', data-id=jobid)
                                td -
                                td -
                                td LQ-AHE (Omist)
                                td GLADSHEIM
                                td bitte PI umstellen
                                td(style='max-width: 10rem; min-width: 10rem;') 
                                    img.img-avatar(src=user.picture)
                                    a(href='#')
                                        i.ml-3.fa.fa-check-square-o.text-success(data-toggle='tooltip', data-placement='bottom', title='Annehmen', data-id=jobid)
                                    a(href='#')
                                        i.ml-3.fa.fa-square-o.text-danger(data-toggle='tooltip', data-placement='bottom', title='Aufgeben', data-id=jobid)
                                    a(href='#')
                                        i.ml-3.fa.fa-flag-checkered.text-dark(data-toggle='tooltip', data-placement='bottom', title='Erledigt', data-id=jobid)
                                td 
                                    .span.badge.badge-success FERTIG 
                                