doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='...')
    meta(name='author', content='Łukasz Holeczek')
    meta(name='keyword', content='Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,jQuery,CSS,HTML,RWD,Dashboard')
    link(rel='shortcut icon', href='img/favicon.png')
    title SiSyn Corp Tool
    // Icons
    link(href='/fonts/font-awesome.min.css', rel='stylesheet')
    link(href='/fonts/simple-line-icons.css', rel='stylesheet')
    // Main styles for this application
    link(href='/css/style.css', rel='stylesheet')
    // Bootstrap and necessary plugins
    script(src='/js/jquery-3.2.1.min.js')
    script(src='/js/popper.1.12.8.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/pace.min.js')
    // my JS
    script(src='/js/frontend.js')
    // my CSS
    link(href='/css/my.css', rel='stylesheet')

  body.app.header-fixed.sidebar-fixed.aside-menu-fixed.aside-menu-hidden

    //Modal Confirm
    #dangerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', style='display: none;', aria-hidden='true')
      .modal-dialog.modal-danger(role='document')
        .modal-content
          .modal-header
            h4.modal-title Bestätige Warnung
            |         
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          |       
          .modal-body
            p Diese Aktion is nicht Rückgängig zu machen. Willst du fortfahren?
          |       
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Abbrechen
            |         
            button.btn.btn-danger.danger-confirm(type='button') Fortfahren

    header.app-header.navbar
      button.navbar-toggler.mobile-sidebar-toggler.d-lg-none.mr-auto(type='button')
        span.navbar-toggler-icon
      a.navbar-brand(href='/')
      button.navbar-toggler.sidebar-toggler.d-md-down-none(type='button')
        span.navbar-toggler-icon

      ul.nav.navbar-nav.ml-auto.mr-3
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle.nav-link(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')
            if (!user)
              img.img-avatar(src='/img/avatars/1_32.jpg')
            else if (user.picture != 'false')
              img.img-avatar(src=user.picture, alt=user.email)
            else 
              img.img-avatar(src='/img/avatars/1_32.jpg')
            if user
              strong.d-md-down-none #{user.username}
          .dropdown-menu.dropdown-menu-right
            .dropdown-header.text-center
              strong Einstellungen
            a.dropdown-item(href='/users/edit/'+user._id)
              i.fa.fa-user
              |  Profil ändern
            a.dropdown-item(href='#'+user._id)
              i.fa.fa-rocket
              |  EVE Konto hinzufügen
            a.dropdown-item(href='/users/logout')
              i.fa.fa-lock
              |  Ausloggen


    .app-body
      .sidebar
        nav.sidebar-nav
          ul.nav
            li.nav-item
              a.nav-link(href='/overview/show')
                i.icon-speedometer
                |  Übersicht 
                //span.badge.badge-pill.badge-primary NEU
            li.nav-title Fly-Safe
              li.nav-item
                a.nav-link(href='#')
                  i.icon-graph
                  |  Null-Sec Status
                  //span.badge.badge-pill.badge-primary NEU
              li.nav-item
                a.nav-link(href='#')
                  i.icon-graph
                  |  Wurmloch Status
                  //span.badge.badge-pill.badge-primary NEU
              li.nav-item
                a.nav-link(href='#')
                  i.icon-bell
                  |  Kriegsstatus
                  //span.badge.badge-pill.badge-primary NEU
            li.nav-title Corporation
              li.nav-item
                a.nav-link(href='#')
                  i.fa.fa-cubes
                  |  Lager Status
                  //span.badge.badge-pill.badge-primary NEU
              li.nav-item
                a.nav-link(href='#')
                  i.fa.fa-sign-in
                  |  Aufträge
                  //span.badge.badge-pill.badge-primary NEU
              li.nav-item
                a.nav-link(href='#')
                  i.fa.fa-sign-out
                  |  Bestellungen
                  //span.badge.badge-pill.badge-primary NEU
              li.nav-item
                a.nav-link(href='#')
                  i.fa.fa-industry
                  |  Industrie
                  //span.badge.badge-pill.badge-primary NEU
              li.nav-item
                a.nav-link(href='#')
                  i.icon-chemistry
                  |  Forschung
                  //span.badge.badge-pill.badge-primary NEU
              li.nav-item
                a.nav-link(href='#')
                  i.icon-equalizer
                  |  POS Status
                  //span.badge.badge-pill.badge-primary NEU
            li.nav-title Information
              li.nav-item
                a.nav-link(href='#')
                  i.fa.fa-area-chart
                  |  Hub Preise
                  //span.badge.badge-pill.badge-primary NEU
              li.nav-item
                a.nav-link(href='#')
                  i.icon-user
                  |  Spieler Information
                  //span.badge.badge-pill.badge-primary NEU
            li.nav-title Administration
              li.nav-item
                a.nav-link(href='/users/userlist')
                  i.icon-people
                  |  Benutzer
                  //span.badge.badge-pill.badge-primary NEU

      // Main content
      main.main
        // Breadcrumb
        ol.breadcrumb
          | BREAD
        .container-fluid(class='message')
          != messages('message', locals)
          if errors
            each error, i in errors
              div(class="alert alert-danger") #{error.msg}
        br
        .container-fluid
          #ui-view
            block content
      aside.aside-menu
        | ...
    footer.app-footer
      | FOOTER

    // Main scripts
    script(src='/js/app.js')
    // Activate Active Navbar
    script(type='text/javascript').
      $(".nav a").on("click", function(){
        $(".nav").find(".active").removeClass("active");
        $(this).addClass("active");
      });
    // Initialize Popper.js
    script(type='text/javascript').
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })