doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='...')
    meta(name='author', content='Łukasz Holeczek')
    meta(name='keyword', content='Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,jQuery,CSS,HTML,RWD,Dashboard')
    link(rel='shortcut icon', href='img/favicon.png')
    script(src='https://www.google.com/recaptcha/api.js')
    title SiSyn Corp Tool
    // Icons
    link(href='/fonts/font-awesome.min.css', rel='stylesheet')
    link(href='/fonts/simple-line-icons.css', rel='stylesheet')
    // Main styles for this application
    link(href='/css/style.css', rel='stylesheet')
    
  body.app
    .container(id='error')
      != messages('message', locals)
    br
    .container
      .row.justify-content-center
        .col-md-6
          .card.mx-4
            .card-body.p-4
              h1 Registrierung
              p.text-muted Erstelle dein Benutzerkonto. Falls du schon ein Konto hast, hier 
                a(href='/users/login') Anmelden.
              form(method='POST', action='/users/register' id='Form')
                .input-group.mb-3
                  span.input-group-addon
                    i.icon-user
                  input.form-control(type='text', placeholder='Benutzer', name="username")
                .input-group.mb-3
                  span.input-group-addon
                    i.icon-user
                  input.form-control(type='text', placeholder='Vorname', name="firstname")
                .input-group.mb-3
                  span.input-group-addon @
                  input.form-control(type='text', placeholder='E-Mail', name="email")
                .input-group.mb-3
                  span.input-group-addon
                    i.icon-lock
                  input.form-control(type='password', placeholder='Passwort', name="password")
                .input-group.mb-3
                  span.input-group-addon
                    i.icon-lock
                  input.form-control(type='password', placeholder='Passwort wiederholen', name="password2")
                .input-group.mb-4.justify-content-center
                  span.input-group-addon
                    i.fa.fa-google
                  .g-recaptcha(data-sitekey="6LdSUzoUAAAAALreqWmgqJX0IIWYwQ5m0X6DZ8S5")
                button.btn.btn-block.btn-success(type='submit') Benutzerkonto Erstellen

    // Bootstrap and necessary plugins
    script(src='/js/jquery-3.2.1.min.js')
    script(src='/js/popper.1.12.8.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/pace.min.js')
    // Main scripts
    script(src='/js/app.js')
    // my JS
    script(src='/js/frontend.js')
    
    // initialize input fields to reset is-invalid class and refill submitted values
    script(type='text/javascript').
      // Form Error Validation
      function validateRegisterForm(errors){
        for (error of errors){
          $('input[name=' + error.param + ']').addClass('is-invalid');
          $('input[name=' + error.param + ']').closest('.input-group').after('<div class="invalid-feedback d-flex">' + error.msg + '</div><br>');
          $('input[name=' + error.param + ']').val(error.value);
          // Password is always red as it must be retyped always because of hash calculation
          $('input[name=password]').addClass('is-invalid');
          $('input[name=password]').val('');
          $('input[name=password2]').addClass('is-invalid');
          $('input[name=password2]').val('');
        }
      }
      var val_errors = !{form_errors ? JSON.stringify(form_errors) : "undefined"};
      val_errors && validateRegisterForm(val_errors);
      var val_username = !{username ? JSON.stringify(username) : "undefined"};
      val_username && $('input[name=username]').val(val_username);
      var val_firstname = !{firstname ? JSON.stringify(firstname) : "undefined"};
      val_firstname && $('input[name=firstname]').val(val_firstname);
      var val_email = !{email ? JSON.stringify(email) : "undefined"};
      val_email && $('input[name=email]').val(val_email);
      // reCaptcha Error Validation
      var recaptchaerror = !{recaptchaerror ? JSON.stringify(recaptchaerror) : "undefined"};
      if (recaptchaerror){
        $('.g-recaptcha').addClass('border border-danger');
        $('.g-recaptcha').closest('.input-group').after('<div class="invalid-feedback d-flex">' + recaptchaerror + '</div><br>');
      }